.imgPlaceholder{
    width: 150px;
    height: 225px;
    display: block;
    background: #A3362F;
    color: #fff;

    span{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
        display: block;
        position: relative;
        top: calc(50% - 16px);
    }
}