.footer{
    background: #000;
    padding: 10px 5px;

    p{
        text-align: center;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0;

        .t14g{
            color: #2B2BFF;
            text-decoration: none;
            font-weight: 600;

            &:hover{
                color: #E23636;
            }
        }
    }
}